<b><%= link_to '使用者後台', admin_users_path, class: "btn btn-primary btn-lg" %></b>

<hr>

<div class="row">
    
    <div class="col-md-12">
      <table id="myTable" class="table table-sm table-hover dt-responsive" cellspacing="0" width="100%">
        <thead>
          <tr>
              <th>圖片</th>
              <th>名稱</th>
              <th>分類</th>
              <th>數量</th>
              <th>價格</th>
              <th>狀態</th>
              <th>擁有者</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><img src="<%= item.picture_url(:thumb) %>" width="100" height="100"></td>
              <td><%= item.name %></td>
              <td><%= item.category %></td>
              <td><%= item.amount %></td>
              <td><%= item.price %></td>
              <td><%= item.status %></td>
              <td><%= item.user.email %></td>
              <td>
                <%= link_to '修改', edit_admin_item_url(item) , class: "btn btn-info btn-sm",  style:"width:100%" %>
                <%= link_to '刪除', admin_item_path(item), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' },  :remote => true, style:"width:100%" %>										
              </td>
    

            </tr>
              <% end %>
        </tbody>
      </table>
    </div>
    
    
    
    </div>   <!-- row -->