
<div class="col-md-2">

		<%= render partial: 'users/userpanel' %>	
		
</div>


<div class="col-md-10">

					<div align="center" class="fh5co-pricing-table">
							<h3><%= current_user.email %></h3>
							<ul class="fh5co-list-check">
								<li class="fh5co-include">最後登入：<%= current_user.last_sign_in_at %></li>
								<li class="fh5co-include">登入次數：<%= current_user.sign_in_count %></li>
								<li class="fh5co-include">買家評價：</li>
								<li class="fh5co-include">賣家評價：</li>
								
							</ul>
							<%= link_to '修改密碼', edit_registration_path(:user), class:"btn btn-block btn-sm btn-info" %><br>
							<% if current_user.has_role?(:sale) %>
							<%= link_to '新增商品', new_item_path, class: "btn btn btn-block btn-success btn-sm"%>	
							<% else %>
							<%= button_to '我要當賣家', usertosale_users_path, class: "btn btn-block btn-primary btn-sm", method: :post %>	
							<% end %>									
						</div>


</div>


	