<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meettime %>
    <%= form.text_field :meettime, id: :order_meettime %>
  </div>

  <div class="field">
    <%= form.label :meetplace %>
    <%= form.text_field :meetplace, id: :order_meetplace %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :order_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
