<div class="col-md-2">
    
            <%= render partial: 'users/userpanel' %>	
            
    </div>
    
    
<div class="col-md-10">

<h1>您在賣的訂單</h1>

<table class="table">
  <thead>
    <tr>
      <th>買家</th>
      <th>物品</th>
      <th>交易時間</th>
      <th>面交地點</th>
      <th>備註</th>
      <th>狀態</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellorders.each do |order| %>
      <tr>
        <td><%= order.buyller.email %></td>
        <td><%= order.item.name %></td>
        <td><%= order.meettime %></td>
        <td><%= order.meetplace %></td>
        <td><%= order.note %></td>
        <% if order.status == 0%>
        <td style="color:green">待確認</td>
        <% end %>
        <td><%= link_to '取消訂單', order_path(order), method: :delete, class: "btn btn-primary btn-sm", data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>您在買的訂單</h1>

<table class="table">
  <thead>
    <tr>
      <th>賣家</th>
      <th>物品</th>
      <th>交易時間</th>
      <th>面交地點</th>
      <th>備註</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyorders.each do |order| %>
      <tr>
        <td><%= order.seller.email %></td>
        <td><%= order.item.name %></td>
        <td><%= order.meettime %></td>
        <td><%= order.meetplace %></td>
        <td><%= order.note %></td>
        <% if order.status == 0%>
        <td style="color:green">待確認</td>
        <% end %>
        <td><%= link_to '取消訂單', order_path(order), method: :delete, class: "btn btn-primary btn-sm", data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

</div>