<p id="notice"><%= notice %></p>

<p>
  <strong>Conversation:</strong>
  <%= @order.conversation %>
</p>

<p>
  <strong>Buyller:</strong>
  <%= @order.buyller_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @order.seller_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @order.item_id %>
</p>

<p>
  <strong>Meettime:</strong>
  <%= @order.meettime %>
</p>

<p>
  <strong>Meetplace:</strong>
  <%= @order.meetplace %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
