<style media="screen">
        b, strong{
          font-size: 15px;
        }

        .span2{
          color: #000;
        }
      </style>
      
      <!-- <p id="notice"><%= notice %></p> -->
      
      <!-- Modal -->
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#fff;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" id="myModalLabel" style="color:#000" ><%= @item.name%></h5>              
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 product_img">
                        <%= image_tag @item.picture, class: "img-responsive"%>                        
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>商品名稱: <span><%= @item.name%></span></h4>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>

                        <p><b>分類：</b><span class="span2"> <%= @item.category %></span></p>
                        <p><b>狀態：</b><span class="span2"> <%=  @item.status %></span></p>
                        <p>價格：<span class="span2"><span class="glyphicon glyphicon-usd"></span><%=  @item.price %></span></p>
                        <div class="btn-ground">
                            <% if current_user.blank? %>
                                <%= link_to '喜歡', new_session_path(:user), class: "btn btn-primary btn-sm" %>
                            <% else %>
                                <div id="favorite-<%= item.id %>-<%= item.id %>">
                                  <%= render partial: 'favorite', :locals => { :item => item } %>													
                                </div>
                            <% end %>
                            <% if current_user.id == item.user_id %>
                            <p>您的商品</p>
                            <% else %>
                            <%= link_to '聊聊', conversations_path(recipient_id: item.user_id, sender_id: current_user.id, item_id: item.id), method: :post, class: "btn btn-success btn-sm", style:"width:100%" %>
                            <% end %>
                        </div>

                  </div>
            </div>
          </div>

          <div class="modal-body"> 

                  <p><%= @item.description.gsub(/\n/, '<br>').html_safe %></p>

          </div>

        </div>