<style media="screen">
        b, strong{
          font-size: 15px;
        }
        span{
          color: #000;
        }
        .span2{
          color: #000;
        }
      </style>
      
      <!-- <p id="notice"><%= notice %></p> -->
      
      <!-- Modal -->
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#34495E;">
              <h5 class="modal-title" id="myModalLabel" style="color:#fff" ><%= @item.name%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body" style="background-color:#fff;">
                    <img src="<%= @item.picture %>" alt="" width="100%">
              </div>
            
            <div class="modal-body">
              <p style="display:inline"><b>商品：</b><span class="span2"> <%= @item.name %></span></p>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <p style="display:inline"><b>分類：</b><span class="span2"> <%= @item.category %></span></p>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <p style="display:inline"><b>狀態：</b><span class="span2"> <%=  @item.status %></span></p>
            </div>
      
            <div class="modal-body" style="background-color:#EEEEEE; color:#fff">
              <h6 style="color: #000;"><strong>商品描述：</strong></h6><p><span><%= @item.description.gsub(/\n/, '<br>').html_safe %></span></p>
            </div>
      
            <div class="modal-footer">
              <% if current_user.blank? %>
                  <%= link_to '喜歡', new_session_path(:user), class: "btn btn-success btn-sm" %>
                  <% else %>
                      <% if current_user.favorites.include?(@item) %>
                        <%= link_to '不喜歡', favorite_item_path(@item, type: "unfavorite"), class: "btn btn-danger btn-sm ", method: :put %>
                      <% else %>
                        <%= link_to '想買',  favorite_item_path(@item, type: "favorite"), class: "btn btn-success btn-sm ", method: :put %>
                      <% end %>
              <% end %>
              <button type="button" class="btn btn-primary" data-dismiss="modal">在考慮</button>
            </div>
          </div>
        </div>