<style>

		.stylish-input-group .input-group-addon{
			background-color:transparent;
			border:none;
		}
		.stylish-input-group .form-control{
			background-color:transparent;
			border:none;
			font-size:17px;
			border-radius:0px;
			margin-top:5px;
            margin-bottom:5px
		}
		.stylish-input-group button{
			border:none;
			background:transparent;
			border-radius:0px;			
		}
		 .hr-xs
		{
		  margin-top:-10px;
		  margin-bottom:5px
		}


</style>		
<%= form_tag(items_path, :method => "get") do %>							
<div class="row">
		<div class="col-md-8 col-sm-offset-2">
			<div id="imaginary_container"> 
				<div class="input-group stylish-input-group input-append">
					<%= text_field_tag :search, params[:search], placeholder: "商品 分類",  class: "form-control"%>		
					<span class="input-group-addon">
						<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>  
					</span>		
				</div>
				<hr class="hr-xs">			
				
			</div>
		</div>
		<div class="col-md-8 col-sm-offset-2">
			<a href="?utf8=✓&search=二手書&commit=搜尋" class="btn btn-sm btn-primary">二手書類</a>	
			<a href="?utf8=✓&search=服務、票券&commit=搜尋" class="btn btn-sm btn-success">服務、票券</a>
			<a href="?utf8=✓&search=居家生活&commit=搜尋" class="btn btn-sm btn-info">居家生活</a>	
			<a href="?utf8=✓&search=男女服飾&commit=搜尋" class="btn btn-sm btn-danger">男女包鞋服飾</a>
			<a href="?utf8=✓&search=3C數位&commit=搜尋" class="btn btn-sm btn-warning">3C數位周邊</a>
			<a href="?utf8=✓&search=其他類別&commit=搜尋" class="btn btn-sm btn-success">其他類別</a>	
		</div>
	</div>
	<% end %>

					
<div class="row">
			<div id="fh5co-board" data-columns>
					<% @items.each do |item| %>
					
							<div class="item">
								<%= link_to item, :remote => true, data: {toggle: "modal", target: "#myModal"} do %>		
								<div class="animate-box">
									<img src="<%= item.picture %>" alt="" width="100%">
								</div>
								<% end %>
										<div class="fh5co-desc">
											<h6><%= item.name %></h6>
											<h6><%= item.price %>元</h6>
											<!-- <%= truncate(item.description, length:15) %> -->
													<% if current_user.blank? %>
													<%= link_to '喜歡', new_session_path(:user), class: "btn btn-primary btn-sm" %>
													<% else %>
															<% if current_user.favorites.include?(item) %>
																<%= link_to '丟了', favorite_item_path(item, type: "unfavorite"), class: "btn btn-success btn-sm ", method: :put %>
															<% else %>
																<%= link_to '喜歡',  favorite_item_path(item, type: "favorite"), class: "btn btn-primary btn-sm ", method: :put %>
															<% end %>
												<% end %>
										</div>
							</div>

					<% end %>
			</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	</div> 
