<div class="container" style="padding-top:30px;">
<h1>分類</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-3">
	<div class="card">
  		<div class="card-body">
    	<h4 class="card-title"><%= item.name %></h4>
    	<img class="card-img-top" src="..." alt="Card image cap"><br>
      <%= item.price %><a>元</a><br>
      <%= link_to '顯示', item, class: "btn btn-primary btn-sm" %>
  		</div>
	</div>
  </div>
<% end %>
</div>
</div>


<div class="container" style="padding-top:30px;">
<h1>近期商品</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-3">
	<div class="card">
  		<div class="card-body">
    	<h4 class="card-title"><%= item.name %></h4>
    	<img class="card-img-top" src="..." alt="Card image cap"><br>
      <%= item.price %><a>元</a><br>
      <%= link_to '顯示', item, class: "btn btn-primary btn-sm" %>
  		</div>
	</div>
  </div>
<% end %>
</div>
</div>


<div class="container" style="padding-top:30px;">
<h1>熱門商品</h1>

<div class="row">
<% @items.each do |item| %>
  <div class="col-sm-3">
	<div class="card">
  		<div class="card-body">
    	<h4 class="card-title"><%= item.name %></h4>
    	<img class="card-img-top" src="..." alt="Card image cap"><br>
      <%= item.price %><a>元</a><br>
      <%= link_to '顯示', item, class: "btn btn-primary btn-sm" %>
  		</div>
	</div>
  </div>
<% end %>
</div>
</div>


<%= link_to '新增商品', new_item_path %>
