<style>
    .put-it-center{
        position: relative;
        margin: 0 auto;
        width: 400px;
        padding: 50px;
    }

</style>
<div class="put-it-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>商品名稱：</strong>
  <%= @item.name %>
</p>

<p>
  <strong>商品描述：</strong>
  <%= @item.description %>
</p>

<p>
  <strong>商品狀態：</strong>
  <%= @item.status %>
</p>

<p>
  <strong>商品數量：</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>商品價格：</strong>
  <%= @item.price %>
  <strong>元</strong>
</p>

<p>
  <strong>商品分類：</strong>
  <%= @item.category %>
</p>

<p>
  <strong>商品圖片：</strong>
  <img src="<%= @item.picture %>" alt="">
  
</p>


<!-- <%= link_to '修改', edit_item_path(@item) %> | -->
<%= link_to '返回', items_path, class: "btn btn-primary btn-sm" %>
</div>