<div class="row">
    
    <div class="col-md-12">
      <table id="myTable" class="table table-sm table-hover dt-responsive" cellspacing="0" width="100%">
        <thead>
          <tr>

              <th>信箱</th>
              <th>最後登入</th>
              <th>次數</th>
              <th>最後ip</th>
              <th>註冊於</th>
              <th>管理員</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>

              <td><%= user.email %></td>
              <td><%= user.last_sign_in_at.to_s(:long_ordinal) %></td>
              <td><%= user.sign_in_count %></td>
              <td><%= user.last_sign_in_ip %></td>
              <td><%= user.created_at.to_s(:long_ordinal) %></td>
              <td></td>
            </tr>
              <% end %>
        </tbody>
      </table>
    </div>
    
    
    
    </div>   <!-- row -->