<!DOCTYPE html>
<html>
  <head>
    <title>SeconLife</title>
    <%= csrf_meta_tags %> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <style>
  body{
    min-height: 75rem;
  }
  </style>
  </head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <%= link_to '貳拍' , root_url, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <a class="nav-link" herf="#"></a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="請輸入商品關鍵字" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
    </form>
    <ul class="navbar-nav nav-bar-right">
      <% if current_user %>
        <li><%= link_to '我的帳號', users_path, class: "nav-link"%></li>
        <li><%= link_to '登出', destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
        
      <% else %>
        <li><%= link_to '註冊', new_registration_path(:user), class: "nav-link" %></li>
        <li><%= link_to '登入', new_session_path(:user), class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>

    <%if flash[:notice].present?%>
      <div class="alert alert-success text-center" role="notice">
           <%= flash[:notice] %>
      </div>
    <%end%>
     
    <%if flash[:alert].present?%>
      <div class="alert alert-danger text-center" role="alert">
           <%= flash[:alert] %>
      </div>
    <%end%>

    <div class="container">
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
  </body>
</html>
